.sidebar-wrapper{
  display:flex;
}
.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;
  width:190px;
  background-color:white;
  margin-top:20px;
  background:transparent;
  height:2000px;
}
.sidebar-links{
  height:50px;
  display:flex;
  gap:20px;
  cursor:pointer;
  margin-left:40px;
}
.sidebar-links:hover{
  background-color:lightgrey;
}
.home-icon{
  height:21px;
}
.shorts-icon{
  height:21px;
}
.subscription-icon{
  height:21px;
}
.sidebar-links div{
  font-size:15;
  font-family:Arial, Helvetica, sans-serif;
}
.sidebar #home{
  font-weight:bold;
}
.test-link{
  margin-left:100px;
}