.suggested-topics{
  background-color:rgb(250, 244, 244);
  position:fixed;
  top:50px;
  left:195px;
  z-index:1;
  padding:15px;
  padding-top:20px;
  display:flex;
  flex-shrink: 0;
  width: 2000px;
  }
  #suggested-buttons{
    background-color: black;
    color:white;
    border-style:none;
    border-radius:5px;
    font-weight:700;
    font-family:Roboto,Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:7px 10px;
  }
  .suggested-buttons{
    background-color:rgb(234, 231, 231);
    color:black;
    border-style:none;
    border-radius:5px;
    font-weight:700;
    font-family:Roboto,Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-left:10px;
  }
  .suggested-buttons-arrow{
    margin-left:37px;
    border-style:none;
    background:transparent;
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    opacity:0.7;
  }